<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/jquery-ui-1.9.0.custom/css/smoothness/jquery-ui-1.9.1.custom.min.css">
<link rel="stylesheet" href="https://apps-chartlab.axibase.com/chartlab/portal/CSS/charts.min.css">
<script src="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/portal_init.js"></script>
<script src="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/jquery-ui-1.9.0.custom/js/jquery-1.8.2.min.js"></script>
<script src="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.min.js"></script>
<script src="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/d3.min.js"></script>
<script src="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/highlight.pack.js"></script>
<script src="https://apps-chartlab.axibase.com/chartlab/portal/JavaScript/charts.min.js"></script>
<style>
  * {
    font-family: monospace !important;
    font-smooth: never !important;
    -webkit-font-smoothing: none !important;
  }
</style>
<body onload="onBodyLoad()">
  <script>
    document.isPortalReady = function() {
      return (function () {
        // Any tooltip loaded
        return $('.axi-tooltip').size() > 0;
      })() && (function () {
        var loadingTooltips = $('.axi-tooltip-inner:contains("Load")');

        // Any loading tooltip exists in DOM
        var ltex = (loadingTooltips.size() > 0)

        // All loading tooltips are invisible
        return ltex && !loadingTooltips.is(":visible");
      })()
    };

    initializePortal(function() {
      var configText = "{{ .Configuration }}";
      return [configText, window.portalPlaceholders = getPortalPlaceholders()];
    });
  </script>
  <div class="portalView"></div>
  <div id="dialog"></div>
</body>
